.myBtn {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 8px 0 rgba(2, 85, 6, 0.2);
    width: auto;
}
